<div>
    <h2>Purchases</h2>

    <p>There is list of all purchases made in a vending machine</p>

    <div class="row">
        <div class="col-md-6">
            <p *ngIf="isLoading" class="loading">Loading...</p>

            <ng-container *ngIf="purchases && purchases.length > 0 else error">
                <div class="pcount">Number of purchases: {{purchases.length}}</div>

                <div class="purchases">
                    <purchase *ngFor="let purchase of purchases" [purchase]="purchase"></purchase>
                </div>
            </ng-container>
            <ng-template #error>
                <p *ngIf="!isLoading" class="error">No purchases to display</p>
            </ng-template>
        </div>

        <div class="col-md-6">
            <brand-health-chart #purchstat [width]="700" [height]="280"></brand-health-chart>

            <brand-health-chart #brandHealth [width]="700" [height]="250"></brand-health-chart>
        </div>
    </div>
</div>
